---
import HeroAlt from "@/components/HeroAlt.astro";
import SeoPage from "@/components/SeoPage.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    <HeroAlt title="RPAS Pilot (RePL)" />
    <div class="mx-auto max-w-5xl px-6 py-6 md:px-0 md:py-12">
      <p class="mb-6 text-black">
        <a href="/services" class="underline">Services</a> / RPAS Pilot (RePL)
      </p>
      <h2 class="mb-6 text-3xl leading-tight font-bold text-black md:text-4xl">
        RPAS Pilot (RePL)
      </h2>
      <p class="mb-6 text-lg text-gray-700">
        Are you a ReOC holder operating a business? <br />Require an extra drone
        pilot? <br /> Or an out of area request?
      </p>
      <p class="mb-30 text-lg text-gray-700">
        We're happy to sub-contract under any existing ReOC to complete your
        flight mission in the Hunter NSW region. Get in touch with your rates,
        and we'll consider accepting the flight mission if the dates and brief
        works for us.
      </p>
    </div>
  </div>
</BaseLayout>
