---
import BaseLayout from "@/layouts/BaseLayout.astro";
import HeroAlt from "@/components/HeroAlt.astro";
import SeoPage from "@/components/SeoPage.astro";
import Services from "@/components/Services.astro";
import Packages from "@/components/Packages.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    <HeroAlt title="Services" />
    <div class="mx-auto max-w-5xl px-6 py-6 md:px-0 md:py-12">
      <h2 class="mb-6 text-3xl leading-tight font-bold text-black md:text-4xl">
        Commerical Drone Services
      </h2>
      <p class="mb-6 text-lg text-gray-700">
        Northshed provides a range of drone solutions tailored to meet the
        unique needs of our clients across NSW. <br />We leverage DJI drone
        technology to deliver 4K aerial visuals, promptly and safely.
      </p>
    </div>
    <Services />
    <Packages />
  </div>
</BaseLayout>
