---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SeoPage from "@/components/SeoPage.astro";
import HeroAlt from "@/components/HeroAlt.astro";
import History from "@/components/History.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    <HeroAlt title="About" />
    <History />
  </div>
</BaseLayout>
