---
import ContactForm from "@/components/ContactForm.astro";
import HeroAlt from "@/components/HeroAlt.astro";
import SeoPage from "@/components/SeoPage.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    <HeroAlt title="Contact" />
    <ContactForm />
  </div>
</BaseLayout>
