---
import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPage from "@/components/SeoPage.astro";
import HeroAlt from "@/components/HeroAlt.astro";
import ContactForm from "@/components/ContactForm.astro";
import AboutUs from "@/components/AboutUs.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    <HeroAlt title="Contact" />
    <ContactForm />
    <AboutUs />
  </div>
</BaseLayout>
