---
import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPage from "@/components/SeoPage.astro";
import Why from "@/components/Why.astro";
import HeroAlt from "@/components/HeroAlt.astro";
import ContactForm from "@/components/ContactForm.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    <HeroAlt title="Contact" />
    <ContactForm />
    <Why />
  </div>
</BaseLayout>
