---
import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPage from "@/components/SeoPage.astro";
import Hero from "@/components/Hero.astro";
import Packages from "@/components/Packages.astro";
import AboutUs from "@/components/AboutUs.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    <Hero />
    <AboutUs />
    <Packages />
  </div>
</BaseLayout>
