---
import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPage from "@/components/SeoPage.astro";
import Hero from "@/components/Hero.astro";
import Commitment from "@/components/Commitment.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    <Hero />
    <Commitment />
  </div>
</BaseLayout>
