<div>
  <div
    class="mx-auto flex w-full max-w-7xl flex-col-reverse items-center justify-between gap-12 rounded-3xl bg-white px-6 py-6 lg:flex-row lg:items-center lg:gap-20 lg:px-16 lg:py-32"
  >
    <div class="w-full flex-shrink-0 md:w-[420px]">
      <img
        src="/pilot.png"
        alt="Drone operator in bushland"
        class="border-gumleaf aspect-square w-full rounded-2xl border-2 object-cover object-bottom shadow-md"
        loading="lazy"
      />
    </div>
    <div class="flex flex-1 flex-col justify-center">
      <h2
        class="mb-6 text-3xl leading-tight font-bold text-gray-900 md:text-4xl"
      >
        Recurring Drone Flight Specialists
      </h2>
      <p class="mb-4 text-lg text-gray-700">
        <strong
          >Northshed Aerial Solutions are certified, insured, and locally based.</strong
        ><br /><br /> Dedicated to providing a seamless experience for every client.
        From cinematic aerial videography to repeatable RTK photogrammetry, we deliver
        the precise visual and geospatial data your project demands, on a schedule
        you can depend on.
      </p>
      <p class="mb-4 text-lg text-gray-700">
        Our commercial drone services provide a smarter solution, offering
        recurring flights and accurate data to save time and money.
      </p>
    </div>
  </div>
  <div
    class="mx-auto flex w-full max-w-7xl flex-col-reverse items-center justify-between gap-12 rounded-3xl bg-white px-6 py-6 lg:flex-row lg:items-center lg:gap-20 lg:px-16 lg:py-32"
  >
    <div class="w-full flex-shrink-0 md:w-[420px]">
      <img
        src="/drone-flying.png"
        alt="Drone operator in bushland"
        class="border-gumleaf aspect-square w-full rounded-2xl border-2 object-cover object-top shadow-md"
        loading="lazy"
      />
    </div>
    <div class="flex flex-1 flex-col justify-center">
      <h3
        class="mb-6 text-3xl leading-tight font-bold text-gray-900 md:text-4xl"
      >
        Data for Smarter Business Decisions
      </h3>
      <p class="mb-4 text-lg text-gray-700">
        <strong
          >Our focus is on building long-term partnerships with our clients.
        </strong><br /><br /> Scheduled recurring drone flights allow for powerful,
        time-series data capture that reveals a project's true story. We'll set up
        pre-programmed flight paths to ensure every image and data point is captured
        from the exact same position, giving you a clear, side-by-side comparison
        of progress over weeks, months, or years. This is the ultimate tool for project
        managers, developers, and asset owners in the Hunter NSW region.
      </p>
    </div>
  </div>
</div>
