<div>
  <div
    class="mx-auto flex w-full max-w-7xl flex-col-reverse items-center justify-between gap-16 rounded-3xl bg-white px-6 py-6 md:flex-row md:items-center md:gap-20 md:px-16 md:py-32"
  >
    <div class="w-full flex-shrink-0 md:w-[420px]">
      <img
        src="/pilot.png"
        alt="Drone operator in bushland"
        class="border-gumleaf aspect-square w-full rounded-2xl border-2 object-cover object-bottom shadow-md"
        loading="lazy"
      />
    </div>
    <div class="flex flex-1 flex-col justify-center">
      <h2
        class="mb-6 text-3xl leading-tight font-bold text-gray-900 md:text-4xl"
      >
        About Us
      </h2>
      <p class="mb-4 text-lg text-gray-700">
        <strong
          >Northshed is the missing piece for construction, environmental, and
          surveying firms that need drone capabilities without the cost and
          complexity.</strong
        ><br /><br />
        We act as your on-demand, in-house drone team, handling everything from specialized
        equipment to advanced flight planning. We take care of the operational headaches
        so you can focus on what matters: winning more tenders and delivering projects
        on-time.
        <br /><br />
        Based in the Hunter region, with our services extending across all of NSW.
      </p>
    </div>
  </div>
  <div
    class="mx-auto flex w-full max-w-7xl flex-col items-center justify-between gap-12 rounded-3xl px-6 py-6 md:flex-row md:items-center md:gap-20 md:bg-gray-100 md:px-16 md:py-32"
  >
    <div class="w-full flex-shrink-0 md:w-[420px]">
      <img
        src="/drone-flying.png"
        alt="Drone operator in bushland"
        class="aspect-square w-full rounded-2xl border-2 border-gray-400 object-cover object-top shadow-md"
        loading="lazy"
      />
    </div>
    <div class="flex flex-1 flex-col justify-center">
      <h3
        class="mb-6 text-3xl leading-tight font-bold text-gray-900 md:text-4xl"
      >
        Capabilities
      </h3>
      <p class="mb-4 text-lg text-gray-700">
        <strong>Fully Insured, Certified, and Field-Ready.</strong><br /><br /> Our
        Chief Remote Pilot, Jayden, brings a unique blend of skills from videography,
        software development, emergency services, and surveying. This diverse background
        ensures we understand your project needs from every angle.

        <br /><br />
      </p>
      <ul class="flex flex-col gap-6 text-gray-600">
        <li>
          <strong>Commerical Drones</strong>
          <br />We use a enterprise-grade fleet, including the DJI Matrice 4E +
          base station for precise survey data and the DJI Matrice 4T for
          advanced thermal and spotlight inspections.
        </li>
        <li>
          <strong>Advanced Licensing</strong>
          <br />
          We operate under a full ReOC, RePL, and AROC, allowing us to conduct complex
          operations like night flying and close-proximity flights in sensitive areas.
          <li>
            <strong>Comprehensive Insurance</strong>
            <br />
            We carry all necessary insurance to provide you with complete peace of
            mind on every project.
          </li>
        </li>
      </ul>
    </div>
  </div>
</div>
