<div
  class="mx-auto flex w-full max-w-7xl flex-col items-center justify-between gap-12 px-6 py-6 md:flex-row md:items-start md:gap-20 md:px-16 md:py-32"
>
  <div class="flex flex-1 flex-col justify-center">
    <h2 class="mb-6 text-3xl leading-tight font-bold text-gray-900 md:text-5xl">
      Committed to smooth<br />end-to-end deliverables
    </h2>
    <p class="mb-12 text-lg text-gray-500">
      You can count on us to be there when you need us. Our commitment to
      excellence means we never cut corners. With a background in product
      development, we'll make sure an aerial perspective is the best way to
      solve your problem and deliver it in a way that is easy to understand.
    </p>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <div class="flex items-center gap-3">
        <span class="inline-block text-xl text-green-600">✔️</span>
        <span class="text-lg font-semibold text-gray-900">Smooth flights</span>
      </div>
      <div class="flex items-center gap-3">
        <span class="inline-block text-xl text-green-600">✔️</span>
        <span class="text-lg font-semibold text-gray-900">Quick response</span>
      </div>
      <div class="flex items-center gap-3">
        <span class="inline-block text-xl text-green-600">✔️</span>
        <span class="text-lg font-semibold text-gray-900">Insightful data</span>
      </div>
      <div class="flex items-center gap-3">
        <span class="inline-block text-xl text-green-600">✔️</span>
        <span class="text-lg font-semibold text-gray-900"
          >Offline capability</span
        >
      </div>
    </div>
  </div>
  <div class="w-full flex-shrink-0 md:w-[540px]">
    <img
      src="/drone-flying.png"
      alt="Drone operator in outback"
      class="border-ironbark aspect-square w-full rounded-2xl border-2 object-cover object-top shadow-md"
      loading="lazy"
    />
  </div>
</div>
