---
import { SOCIAL_LINKS } from "@/siteConfig";
---

<div
  class="flex w-full flex-col items-center justify-center border-b-2 border-gray-100 bg-white px-4 py-6 text-center md:flex-row md:py-32"
>
  <div class="max-w-lg flex-1 md:mr-12 md:mb-0">
    <h1 class="mb-6 text-5xl font-bold text-black">Drone, Data, Done</h1>
    <p class="mb-8 text-lg text-black">
      Let us know how we can assist you with your aerial data needs. One-off
      projects, recurring flights, or just a curious chat.
    </p>
    <a
      href={SOCIAL_LINKS.facebook.href}
      target="_blank"
      class="mb-8 text-lg text-black underline"
    >
      For now, please contact us via our Facebook DMs.
    </a>
  </div>
</div>
