---
import { SITE } from "@/siteConfig";
import SocialLinks from "./SocialLinks.astro";

const year = new Date().getFullYear();
---

<footer
  class="mx-auto flex w-full flex-col items-start justify-start gap-6 pt-16 pb-24 sm:flex-row sm:justify-between sm:gap-8"
>
  <SocialLinks />
  <span class="prose mt-2 block"
    >{year}
    <a class="link" href="https://telemetryworks.com">{SITE.author}</a></span
  >
</footer>
