---
import Navigation from "./Navigation.astro";
---

<section class="bg-ironbark relative">
  <img
    src="/lake.jpg"
    alt="Aerial view of Lake Mac"
    class="absolute inset-0 z-0 h-full w-full object-cover opacity-90"
  />

  <div
    class="pointer-events-none absolute inset-0 z-10 hidden sm:block"
    style="background: linear-gradient(to bottom, transparent 30%, black 100%);"
    aria-hidden="true"
  >
  </div>

  <div class="absolute inset-0 z-10 bg-black opacity-60"></div>

  <div class="relative z-40">
    <Navigation />
  </div>
  <div
    class="relative z-20 mx-auto flex w-full max-w-7xl flex-col items-center justify-between px-6 py-6 md:flex-row md:py-38"
  >
    <div class="max-w-xl text-white md:mb-0">
      <h1 class="mb-4 text-5xl leading-tight font-bold md:text-6xl">
        Hunter NSW <br /> Commercial Drones
      </h1>
      <p class="mb-6 hidden text-lg text-gray-300 md:block md:text-xl">
        Precision drone service for NSW's construction, environmental, and
        surveying firms. Get the data you need, when you need it, and empower
        your field teams to make smarter decisions.
      </p>
    </div>
  </div>
  <div
    class="relative z-30 mx-auto mt-32 hidden w-full max-w-7xl px-6 pb-32 sm:block"
  >
    <div
      class="flex flex-col gap-8 rounded-2xl bg-black/60 px-4 py-8 md:flex-row md:items-stretch md:justify-between md:gap-0 md:px-12 md:py-12"
    >
      <div
        class="flex flex-1 flex-col items-center text-gray-300 md:items-start"
      >
        <span class="mb-4 text-4xl md:text-5xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216ZM80,108a12,12,0,1,1,12,12A12,12,0,0,1,80,108Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,176,108Zm-1.07,48c-10.29,17.79-27.4,28-46.93,28s-36.63-10.2-46.92-28a8,8,0,1,1,13.84-8c7.47,12.91,19.21,20,33.08,20s25.61-7.1,33.07-20a8,8,0,0,1,13.86,8Z"
            ></path></svg
          >
        </span>
        <h3 class="mb-2 text-xl font-semibold">Empowering Surveyors</h3>
        <p class="text-dusty text-center text-base md:text-left">
          We deliver precise RTK aerial photogrammetry, with the accurate data
          you need to streamline workflows and complete projects faster.
        </p>
      </div>
      <div class="mx-8 hidden w-px bg-gray-700 md:block"></div>
      <div
        class="flex flex-1 flex-col items-center text-gray-300 md:items-start"
      >
        <span class="mb-4 text-4xl md:text-5xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M128,136a8,8,0,0,1-8,8H72a8,8,0,0,1,0-16h48A8,8,0,0,1,128,136Zm-8-40H72a8,8,0,0,0,0,16h48a8,8,0,0,0,0-16Zm112,65.47V224A8,8,0,0,1,220,231l-24-13.74L172,231A8,8,0,0,1,160,224V200H40a16,16,0,0,1-16-16V56A16,16,0,0,1,40,40H216a16,16,0,0,1,16,16V86.53a51.88,51.88,0,0,1,0,74.94ZM160,184V161.47A52,52,0,0,1,216,76V56H40V184Zm56-12a51.88,51.88,0,0,1-40,0v38.22l16-9.16a8,8,0,0,1,7.94,0l16,9.16Zm16-48a36,36,0,1,0-36,36A36,36,0,0,0,232,124Z"
            ></path></svg
          >
        </span>
        <h3 class="mb-2 text-xl font-semibold">
          Supporting Environmental Firms
        </h3>
        <p class="text-dusty text-center text-base md:text-left">
          We support night flights and surveys, providing insights for koala and
          wildlife monitoring with unmatched accuracy.
        </p>
      </div>
      <div class="mx-8 hidden w-px bg-gray-700 md:block"></div>
      <div
        class="flex flex-1 flex-col items-center text-gray-300 md:items-start"
      >
        <span class="mb-4 text-4xl md:text-5xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M224,152V136a96.37,96.37,0,0,0-64-90.51V40a16,16,0,0,0-16-16H112A16,16,0,0,0,96,40v5.49A96.37,96.37,0,0,0,32,136v16a16,16,0,0,0-16,16v24a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V168A16,16,0,0,0,224,152Zm-16-16v16H160V62.67A80.36,80.36,0,0,1,208,136ZM144,40V152H112V40ZM48,136A80.36,80.36,0,0,1,96,62.67V152H48Zm176,56H32V168H224v24Z"
            ></path></svg
          >
        </span>
        <h3 class="mb-2 text-xl font-semibold">
          Partnering with Major Projects
        </h3>
        <p class="text-dusty text-center text-base md:text-left">
          From site mapping to progress tracking, we offer real-time insights
          that help you manage timelines and avoid costly delays.
        </p>
      </div>
    </div>
  </div>
</section>
