---
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="mx-auto mb-8 flex max-w-screen-sm flex-wrap items-end justify-center gap-4 p-3 pb-8 font-sans sm:justify-between sm:p-6"
>
  <a href="/" class="text-lg font-black sm:text-xl">
    <span class="text-gumleaf dark:text-gumleaf"> Northshed</span>
    <span class="text-black dark:text-white"> Aerial Solutions.</span>
  </a>
  <ThemeToggle />
  <!-- <nav>
    <ul class="flex list-none items-center gap-2 p-0 sm:gap-3">
      {
        Object.keys(NAV_LINKS).map((navItemKey) => {
          return (
            <li>
              <a href={NAV_LINKS[navItemKey].path} class="prose">
                {NAV_LINKS[navItemKey].label}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav> -->
</header>
