<div
  class="mx-auto flex w-full max-w-7xl flex-col-reverse items-center justify-between gap-12 rounded-3xl bg-white px-6 pb-6 md:flex-row md:items-start md:gap-20 md:px-16 md:pb-32"
>
  <div class="flex flex-1 flex-col justify-center">
    <h3 class="mb-6 text-3xl leading-tight font-bold text-gray-900 md:text-4xl">
      Packages
    </h3>
    <p class="mb-12 text-lg text-gray-700">
      Easily request a new flight through your secure client portal. Once
      submitted, you'll receive a fast, no-obligation quote. If approved, sign
      and pay online. On flight day, track the flight mission in real-time and
      access your data deliverables for download when processed.
    </p>
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-3">
      <div class="flex flex-col items-start gap-3 text-black">
        <span class="flex gap-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M197.58,129.06,146,110l-19-51.62a15.92,15.92,0,0,0-29.88,0L78,110l-51.62,19a15.92,15.92,0,0,0,0,29.88L78,178l19,51.62a15.92,15.92,0,0,0,29.88,0L146,178l51.62-19a15.92,15.92,0,0,0,0-29.88ZM137,164.22a8,8,0,0,0-4.74,4.74L112,223.85,91.78,169A8,8,0,0,0,87,164.22L32.15,144,87,123.78A8,8,0,0,0,91.78,119L112,64.15,132.22,119a8,8,0,0,0,4.74,4.74L191.85,144ZM144,40a8,8,0,0,1,8-8h16V16a8,8,0,0,1,16,0V32h16a8,8,0,0,1,0,16H184V64a8,8,0,0,1-16,0V48H152A8,8,0,0,1,144,40ZM248,88a8,8,0,0,1-8,8h-8v8a8,8,0,0,1-16,0V96h-8a8,8,0,0,1,0-16h8V72a8,8,0,0,1,16,0v8h8A8,8,0,0,1,248,88Z"
            ></path></svg
          >
          <span class="text-ironbark text-xl font-bold">Essentials Package</span
          >
        </span>
        <span class="my-3 ml-6"
          ><strong>From $500 AUD</strong>
          <br /> Ideal for real estate, social media, promos, small requests, and
          domestic clients.</span
        >
        <a
          href="/contact"
          class="bg-ironbark hover:bg-dusty text-md md:text-md mb-3 ml-6 flex gap-2 rounded-xl px-4 py-2 text-center font-bold text-white shadow-md"
        >
          <span class="whitespace-nowrap">Book Flight</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            class="fill= hidden sm:inline"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M237.66,106.35l-80-80A8,8,0,0,0,144,32V72.35c-25.94,2.22-54.59,14.92-78.16,34.91-28.38,24.08-46.05,55.11-49.76,87.37a12,12,0,0,0,20.68,9.58h0c11-11.71,50.14-48.74,107.24-52V192a8,8,0,0,0,13.66,5.65l80-80A8,8,0,0,0,237.66,106.35ZM160,172.69V144a8,8,0,0,0-8-8c-28.08,0-55.43,7.33-81.29,21.8a196.17,196.17,0,0,0-36.57,26.52c5.8-23.84,20.42-46.51,42.05-64.86C99.41,99.77,127.75,88,152,88a8,8,0,0,0,8-8V51.32L220.69,112Z"
            ></path></svg
          >
        </a>
        <ul class="ml-6 list-disc">
          <li>Travel included (Hunter Region)</li>
          <li>4K video capture – aerial & ground</li>
          <li>12–48MP image capture – aerial & ground</li>
          <li>Smooth, cinematic flight with cruise control</li>
          <li>Vertical or horizontal formats</li>
          <li>Raw or graded file options</li>
          <li>Client portal access (sign, pay, download)</li>
          <li>Same-week delivery</li>
        </ul>
      </div>
      <div class="flex flex-col items-start gap-3 text-black">
        <span class="flex gap-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M216,56H176V48a24,24,0,0,0-24-24H104A24,24,0,0,0,80,48v8H40A16,16,0,0,0,24,72V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V72A16,16,0,0,0,216,56ZM96,48a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96ZM216,72v41.61A184,184,0,0,1,128,136a184.07,184.07,0,0,1-88-22.38V72Zm0,128H40V131.64A200.19,200.19,0,0,0,128,152a200.25,200.25,0,0,0,88-20.37V200ZM104,112a8,8,0,0,1,8-8h32a8,8,0,0,1,0,16H112A8,8,0,0,1,104,112Z"
            ></path></svg
          >
          <span class="text-ironbark text-xl font-bold"
            >Professionals Package</span
          >
        </span>
        <span class="my-3 ml-6"
          ><strong>From $1,000 AUD</strong>
          <br /> Designed for construction, progress monitoring, commercial, and
          industrial needs.</span
        >
        <a
          href="/contact"
          class="bg-ironbark hover:bg-dusty text-md md:text-md mb-3 ml-6 flex gap-2 rounded-xl px-4 py-2 text-center font-bold text-white shadow-md"
        >
          <span class="whitespace-nowrap">Book Flight</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            class="fill= hidden sm:inline"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M237.66,106.35l-80-80A8,8,0,0,0,144,32V72.35c-25.94,2.22-54.59,14.92-78.16,34.91-28.38,24.08-46.05,55.11-49.76,87.37a12,12,0,0,0,20.68,9.58h0c11-11.71,50.14-48.74,107.24-52V192a8,8,0,0,0,13.66,5.65l80-80A8,8,0,0,0,237.66,106.35ZM160,172.69V144a8,8,0,0,0-8-8c-28.08,0-55.43,7.33-81.29,21.8a196.17,196.17,0,0,0-36.57,26.52c5.8-23.84,20.42-46.51,42.05-64.86C99.41,99.77,127.75,88,152,88a8,8,0,0,0,8-8V51.32L220.69,112Z"
            ></path></svg
          >
        </a>
        <ul class="ml-6 list-disc">
          <li>Travel included (Hunter Region)</li>
          <li>4K video capture – aerial & ground</li>
          <li>12–48MP image capture – aerial & ground</li>
          <li>On-site interview with lav mic + commentary</li>
          <li>Waypoint flight paths for repeatable results</li>
          <li>Raw, graded, or annotated file options</li>
          <li>Client portal access (sign, pay, download)</li>
          <li>Same-day delivery</li>
        </ul>
      </div>

      <div class="flex flex-col items-start gap-3 text-black">
        <span class="flex gap-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M240,208H224V96a16,16,0,0,0-16-16H144V32a16,16,0,0,0-24.88-13.32L39.12,72A16,16,0,0,0,32,85.34V208H16a8,8,0,0,0,0,16H240a8,8,0,0,0,0-16ZM208,96V208H144V96ZM48,85.34,128,32V208H48ZM112,112v16a8,8,0,0,1-16,0V112a8,8,0,1,1,16,0Zm-32,0v16a8,8,0,0,1-16,0V112a8,8,0,1,1,16,0Zm0,56v16a8,8,0,0,1-16,0V168a8,8,0,0,1,16,0Zm32,0v16a8,8,0,0,1-16,0V168a8,8,0,0,1,16,0Z"
            ></path></svg
          >
          <span class="text-ironbark text-xl font-bold">Enterprise Package</span
          >
        </span>
        <span class="my-3 ml-6"
          ><strong>From $2,500 AUD</strong>
          <br /> Perfect for councils, utilities, and regulated industries with ongoing
          requirements..</span
        >
        <a
          href="/contact"
          class="bg-ironbark hover:bg-dusty text-md md:text-md mb-3 ml-6 flex gap-2 rounded-xl px-4 py-2 text-center font-bold text-white shadow-md"
        >
          <span class="whitespace-nowrap">Book Flight</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            class="fill= hidden sm:inline"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M237.66,106.35l-80-80A8,8,0,0,0,144,32V72.35c-25.94,2.22-54.59,14.92-78.16,34.91-28.38,24.08-46.05,55.11-49.76,87.37a12,12,0,0,0,20.68,9.58h0c11-11.71,50.14-48.74,107.24-52V192a8,8,0,0,0,13.66,5.65l80-80A8,8,0,0,0,237.66,106.35ZM160,172.69V144a8,8,0,0,0-8-8c-28.08,0-55.43,7.33-81.29,21.8a196.17,196.17,0,0,0-36.57,26.52c5.8-23.84,20.42-46.51,42.05-64.86C99.41,99.77,127.75,88,152,88a8,8,0,0,0,8-8V51.32L220.69,112Z"
            ></path></svg
          >
        </a>
        <ul class="ml-6 list-disc">
          <li>Travel included (Hunter Region)</li>
          <li>Predictable monthly pricing for budgets</li>
          <li>CASA-compliant documentation</li>
          <li>Custom requirements for data delivery</li>
          <li>Formatted reports with visual annotations</li>
          <li>RTK-enabled enterprise drones for precision</li>
          <li>Mapping, 3D orthomosaics, and visuals</li>
          <li>Routine scheduled flights with pre-approvals</li>
          <li>Client portal access (sign, pay, download)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
