<div
  class="mx-auto mt-6 mb-12 flex w-full max-w-7xl flex-col-reverse items-center justify-between gap-12 rounded-3xl border-0 bg-white p-12 md:mt-16 md:mb-32 md:flex-row md:items-start md:gap-20 md:border-2 md:border-gray-200 md:shadow-xl"
>
  <div class="flex flex-1 flex-col justify-center">
    <h3 class="mb-6 text-3xl leading-tight font-bold text-gray-900 md:text-4xl">
      Packages
    </h3>
    <p class="mb-12 text-lg text-gray-700">
      Easily request a new flight through your secure client portal. Once
      submitted, you'll receive a fast, no-obligation quote. If approved, sign
      and pay online. On flight day, track the flight mission in real-time and
      access your data deliverables for download when processed.
    </p>
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-3">
      <div class="flex flex-col items-start gap-3 text-black">
        <span class="text-ironbark text-xl font-bold">Essentials</span>
        <span class="my-3"
          ><strong>$800</strong>
          <br />Perfect for one-off media capture only used for social media or
          marketing purposes.
        </span>
        <a
          href="/contact"
          class="bg-ironbark hover:bg-dusty text-md md:text-md mb-3 flex gap-2 rounded-xl px-4 py-2 text-center font-bold text-white shadow-md"
        >
          <span class="whitespace-nowrap">Book Flight</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            class="fill= hidden sm:inline"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M237.66,106.35l-80-80A8,8,0,0,0,144,32V72.35c-25.94,2.22-54.59,14.92-78.16,34.91-28.38,24.08-46.05,55.11-49.76,87.37a12,12,0,0,0,20.68,9.58h0c11-11.71,50.14-48.74,107.24-52V192a8,8,0,0,0,13.66,5.65l80-80A8,8,0,0,0,237.66,106.35ZM160,172.69V144a8,8,0,0,0-8-8c-28.08,0-55.43,7.33-81.29,21.8a196.17,196.17,0,0,0-36.57,26.52c5.8-23.84,20.42-46.51,42.05-64.86C99.41,99.77,127.75,88,152,88a8,8,0,0,0,8-8V51.32L220.69,112Z"
            ></path></svg
          >
        </a>
        <ul class="ml-4 list-disc">
          <li>One-off flight</li>
          <li>72-hour delivery</li>
          <li>Travel included (Hunter Region)</li>
          <li>Client portal access</li>
          <li>4K visual capture (1 minute)</li>
          <li>Up to 10 aerial images captured</li>
          <li>Smooth, cinematic flight with cruise control</li>
          <li>Vertical or horizontal formats</li>
          <li>All footage delivered edited</li>
        </ul>
      </div>
      <div class="flex flex-col items-start gap-3 text-black">
        <span class="text-ironbark text-xl font-bold">Premium</span>
        <span class="my-3"
          ><strong>$2,500/month</strong>
          <br /> Perfect for businesses looking for quick turn-around, accuracy,
          and professionalism.
        </span>
        <a
          href="/contact"
          class="bg-ironbark hover:bg-dusty text-md md:text-md mb-3 flex gap-2 rounded-xl px-4 py-2 text-center font-bold text-white shadow-md"
        >
          <span class="whitespace-nowrap">Book Flight</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            class="fill= hidden sm:inline"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M237.66,106.35l-80-80A8,8,0,0,0,144,32V72.35c-25.94,2.22-54.59,14.92-78.16,34.91-28.38,24.08-46.05,55.11-49.76,87.37a12,12,0,0,0,20.68,9.58h0c11-11.71,50.14-48.74,107.24-52V192a8,8,0,0,0,13.66,5.65l80-80A8,8,0,0,0,237.66,106.35ZM160,172.69V144a8,8,0,0,0-8-8c-28.08,0-55.43,7.33-81.29,21.8a196.17,196.17,0,0,0-36.57,26.52c5.8-23.84,20.42-46.51,42.05-64.86C99.41,99.77,127.75,88,152,88a8,8,0,0,0,8-8V51.32L220.69,112Z"
            ></path></svg
          >
        </a>
        <ul class="ml-4 list-disc">
          <li>2 flights per month</li>
          <li>48-hour delivery</li>
          <li>Travel included (Hunter Region)</li>
          <li>Client portal access</li>
          <li>4K visual capture (2 minutes)</li>
          <li>RTK-enabled enterprise drones</li>
          <li>2D orthomosaics and detailed 3D models</li>
          <li>Waypoint flight paths for repeatable results</li>
          <li>Raw, graded, and annotated file options</li>
          <li>Full flight mission planning</li>
        </ul>
      </div>

      <div class="flex flex-col items-start gap-3 text-black">
        <span class="text-ironbark text-xl font-bold">Ultimate</span>
        <span class="my-3"
          ><strong>$4,750/month</strong>
          <br /> Perfect for major projects requiring detailed reports with frequent
          updates and priority.</span
        >
        <a
          href="/contact"
          class="bg-ironbark hover:bg-dusty text-md md:text-md mb-3 flex gap-2 rounded-xl px-4 py-2 text-center font-bold text-white shadow-md"
        >
          <span class="whitespace-nowrap">Book Flight</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            class="fill= hidden sm:inline"
            fill="currentColor"
            viewBox="0 0 256 256"
            ><path
              d="M237.66,106.35l-80-80A8,8,0,0,0,144,32V72.35c-25.94,2.22-54.59,14.92-78.16,34.91-28.38,24.08-46.05,55.11-49.76,87.37a12,12,0,0,0,20.68,9.58h0c11-11.71,50.14-48.74,107.24-52V192a8,8,0,0,0,13.66,5.65l80-80A8,8,0,0,0,237.66,106.35ZM160,172.69V144a8,8,0,0,0-8-8c-28.08,0-55.43,7.33-81.29,21.8a196.17,196.17,0,0,0-36.57,26.52c5.8-23.84,20.42-46.51,42.05-64.86C99.41,99.77,127.75,88,152,88a8,8,0,0,0,8-8V51.32L220.69,112Z"
            ></path></svg
          >
        </a>
        <ul class="ml-4 list-disc">
          <li>4 flights per month</li>
          <li>same-day delivery</li>
          <li>Travel included (Hunter Region)</li>
          <li>Client portal access</li>
          <li>4K visual capture (3 minutes)</li>
          <li>RTK-enabled enterprise drones</li>
          <li>2D orthomosaics and detailed 3D models</li>
          <li>Waypoint flight paths for repeatable results</li>
          <li>Raw, graded, and annotated file options</li>
          <li>Full flight mission planning</li>
        </ul>
      </div>
    </div>
  </div>
</div>
