<section
  class="bg-dusty flex flex-col items-center p-6 text-white md:pt-16 md:pb-32"
>
  <h2 class="mb-16 text-4xl font-semibold md:text-5xl">Why Northshed?</h2>
  <div class="flex flex-col justify-center gap-12 md:flex-row md:gap-24">
    <div class="flex max-w-xs flex-col items-center text-center">
      <div class="rounded-full bg-white p-4 text-black">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          viewBox="0 0 256 256"
          ><path
            d="M128,136a8,8,0,0,1-8,8H72a8,8,0,0,1,0-16h48A8,8,0,0,1,128,136Zm-8-40H72a8,8,0,0,0,0,16h48a8,8,0,0,0,0-16Zm112,65.47V224A8,8,0,0,1,220,231l-24-13.74L172,231A8,8,0,0,1,160,224V200H40a16,16,0,0,1-16-16V56A16,16,0,0,1,40,40H216a16,16,0,0,1,16,16V86.53a51.88,51.88,0,0,1,0,74.94ZM160,184V161.47A52,52,0,0,1,216,76V56H40V184Zm56-12a51.88,51.88,0,0,1-40,0v38.22l16-9.16a8,8,0,0,1,7.94,0l16,9.16Zm16-48a36,36,0,1,0-36,36A36,36,0,0,0,232,124Z"
          ></path></svg
        >
      </div>
      <h3 class="mt-6 text-lg font-medium">Certified Flights</h3>
      <p class="text-sm">
        Our team operates safe and professionally, <br /> with all necessary certifications<br
        />and permissions in place.
      </p>
    </div>
    <div class="flex max-w-xs flex-col items-center text-center">
      <div class="rounded-full bg-white p-4 text-black">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          viewBox="0 0 256 256"
          ><path
            d="M176,232a8,8,0,0,1-8,8H88a8,8,0,0,1,0-16h80A8,8,0,0,1,176,232Zm40-128a87.55,87.55,0,0,1-33.64,69.21A16.24,16.24,0,0,0,176,186v6a16,16,0,0,1-16,16H96a16,16,0,0,1-16-16v-6a16,16,0,0,0-6.23-12.66A87.59,87.59,0,0,1,40,104.49C39.74,56.83,78.26,17.14,125.88,16A88,88,0,0,1,216,104Zm-16,0a72,72,0,0,0-73.74-72c-39,.92-70.47,33.39-70.26,72.39a71.65,71.65,0,0,0,27.64,56.3A32,32,0,0,1,96,186v6h64v-6a32.15,32.15,0,0,1,12.47-25.35A71.65,71.65,0,0,0,200,104Zm-16.11-9.34a57.6,57.6,0,0,0-46.56-46.55,8,8,0,0,0-2.66,15.78c16.57,2.79,30.63,16.85,33.44,33.45A8,8,0,0,0,176,104a9,9,0,0,0,1.35-.11A8,8,0,0,0,183.89,94.66Z"
          ></path></svg
        >
      </div>
      <h3 class="mt-6 text-lg font-medium">Problem First</h3>
      <p class="text-sm">
        We focus on understanding your problem<br />before suggesting a drone
        solution.
        <br />We are not here to sell you hype.
      </p>
    </div>
    <div class="flex max-w-xs flex-col items-center text-center">
      <div class="rounded-full bg-white p-4 text-black">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          viewBox="0 0 256 256"
          ><path
            d="M128,40a96,96,0,1,0,96,96A96.11,96.11,0,0,0,128,40Zm0,176a80,80,0,1,1,80-80A80.09,80.09,0,0,1,128,216ZM173.66,90.34a8,8,0,0,1,0,11.32l-40,40a8,8,0,0,1-11.32-11.32l40-40A8,8,0,0,1,173.66,90.34ZM96,16a8,8,0,0,1,8-8h48a8,8,0,0,1,0,16H104A8,8,0,0,1,96,16Z"
          ></path></svg
        >
      </div>
      <h3 class="mt-6 text-lg font-medium">Field Ready</h3>
      <p class="text-sm">
        Our vehicle is equipped for any<br />environment, from remote areas to
        urban settings.<br />From jobsites, mines, to farms, we are ready.
      </p>
    </div>
  </div>
</section>
